<div class="container">
    <div class="topo">
        <p>{{post2.author.name}}</p>
        <p>{{post2.author.job}}</p>
    </div>
    <div class="topo-link">
        <p routerLink="/post-list" style="cursor: pointer;">Go back to post list</p>
    </div>
        <div *ngIf="userPosts">
            <div class="row">
                <h3>All posts of user:</h3>
                <div class="col-md-6" *ngFor="let user of userPosts">
                    <mat-card class="posts-card">
                        <mat-card-header>
                        <img mat-card-md-image [src]="user.image" class="img-fluid">
                        <mat-card-title-group>
                            <mat-card-title>{{user.title}}</mat-card-title>
                            <mat-card-subtitle>By: {{user.author.username}}</mat-card-subtitle>
                        </mat-card-title-group>  
                        </mat-card-header>
                        <mat-card-content class="conteudo">
                            {{user.body | encurtar}}
                            <button mat-raised-button color="primary" class="btn">Read</button>
                        </mat-card-content>
                    </mat-card>
                </div>
                <h3 class="comments-container-relative">Comments from user:</h3>
                <mat-list class="list" *ngFor="let c of userComments">
                    <mat-list-item lines="3">
                        <span matListItemTitle>{{c.author.username}}</span>
                        <p>{{c.author.job}}</p>
                    </mat-list-item>
                    <p class="comment">{{c.comment}}</p>
                </mat-list>
            </div>
        </div>
    </div>